<div class="mdl-grid mdl-grid--no-spacing">

  <section class="mdl-cell mdl-cell--12-col m-footer">
    <ul class="m-footer-nav m-footer-nav-inline">
      <li *ngFor="let page of navigation.getItems('footer')" class="m-footer-nav-item ">
        <a *ngIf="page.path && page.path.indexOf('p/') > -1" [routerLink]="['/' + page.path]" class="mdl-color-text--blue-grey-100">{{page.title}}</a>
        <a *ngIf="page.path.indexOf('p/') < 0" [href]="page.path" target="_blank" class="mdl-color-text--blue-grey-100">{{page.title}}</a>
      </li>
    </ul>
    <span class="copyright" i18n="@@M__COMMON__COPYRIGHT_YEAR">&#169; Minds {{'2019'}}</span>
  </section>

</div>
